# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Build and Production
dist/
build/
.astro/
.vercel/
.netlify/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.secret
*.pem
*.key

# OS Specific Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.swp
*.swo

# Tools
.turbo/
.cache/
.eslintcache
.stylelintcache
.prettiercache

# Gemini CLI
.gemini/
.gemini_security/
.gemini_tmp/
